<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.model.dao.DynamicSqlMapper">

    <resultMap id="menuResultMap" type="com.practice.model.dto.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <select id="selectByPrice" parameterType="hashmap" resultMap="menuResultMap">
        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM
        TBL_MENU
        WHERE
        ORDERABLE_STATUS = 'Y'

        <if test = "price gte 0 and price lte 10000">
            <![CDATA[
                AND MENU_PRICE < ${price}
            ]]>
        </if>
        <if test="price gt 10000 and price lte 20000">
            AND MENU_PRICE BETWEEN 10000 AND ${price}
        </if>
        <if test="price gt 20000 and price lte 30000">
            AND MENU_PRICE BETWEEN 20000 AND ${price}
        </if>
        <if test="price gt 30000">
            AND MENU_PRICE BETWEEN 30000 AND ${price}
        </if>
        ORDER BY MENU_CODE
    </select>

</mapper>
